
body {
    background-color: #dce1ff;
    font-family: 'Inter', Sans-serif;
}

.btn-primary:hover {
    background: #3F3F9A;
    border: 1px solid #3F3F9A;
}

.btn-primary {
    background-color: #536DFE;
    border: 1px solid #536DFE;
    border-radius: 10px;
}

.btn-outline-primary {
    background: #ffffff;
    color: #1F3F9A;
    border: 1px solid #1F3F9A;
}

.btn-outline-primary:hover {
    background-color: #536DFE;
    border: 1px solid #536DFE;
}

.border-top {
    border-top: 8px solid #536DFE !important;
}

.bg-primary {
    background-color: #536DFE !important;
}

.text-primary {
    color: #536DFE !important;
}


.card.survey-list:hover {
    border: 1px solid #536DFE;
}
